.calendarHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendarHead > .calendarHeadTitle {
    font-size: 30px;
}

.calendarHead > .calendarHeadOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendarHead > .calendarHeadOptions > .calendarHeadOptionsButton {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.calendarHead > .calendarHeadOptions > .calendarHeadOptionsButton:not(:last-of-type) {
    margin-right: 20px;
}