.wrapper {
    background-color: #F7F7F7;
    min-height: 100vh;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper > .main {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: max-content;
    gap: 25px;
}

.wrapper > .main > .events {
    border-left: 4px solid #e4e4e4;
    padding-left: 25px;
    display: flex;
}