.wrapper {
    background-color: #F7F7F7;
    min-height: 100vh;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    font-size: 3em;
    text-align: center;
    color: #252525;
    font-weight: 100;
}

.main::after {
    content: '';
    animation: textProgressiveEllipse .8s forwards;
}

@keyframes textProgressiveEllipse {
    0% {
        content: '.';
    }

    50% {
        content: '..';
    }

    100% {
        content: '...';
    }
}