@font-face {
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
    font-family: JosefinSans;
}

body {
    margin: 0;
    font-family: JosefinSans;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}