.weeknamesGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    grid-auto-rows: 50px;
}

.weeknamesGrid > .weeknamesGridText {
    font-size: 25px;
    color: #252525;
    font-weight: bold;
    text-align: center;
}